body {
    background-color: #f8f8f8;
}

a {
    text-decoration: none;
    color: inherit;
}

::placeholder {
    color: #e0dfde;
}

textarea {
    resize: none;
}

.header__inner {
    background: #ffffff;
    margin: 0 auto;
    max-width: 1230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 50px;
}

.header__ttl {
    font-family: "Monotype Corsiva";
    color: #f5c800;
}